.required {
  content: "*";
  color: red;
}

@media (min-width: 375px) {
  .quantity {
    margin-left: 40px;
  }
  .farmer {
    /* margin-top: 30px; */
    margin-left: 130px;
  
  }
  .cropsdis {
    margin-left: 90px;
  }
 
  .cropsRButton {
    margin-left: 20px;
    background-color: white;
    color: black;
    border: none;
    margin-right: 5px;
  }
  .Add1button {
    margin-top: 30px;
    /* margin-left: 30px; */
  }

  /* .Add2button{
    margin-left: 40px;
} */
.cropsdiss{
  margin-left: 170px;
  font-weight: bold;

}
}

@media (min-width: 992px) {
  .quantity {
    margin-left: 0px;
  }

  .land {
    margin-left: 30px;
  }
  .farmer {
    /* margin-top: 30px; */
    margin-left: 25px;
  }
  .cropsdis {
    margin-left: 28px;
  font-weight: bold;

  }
  
  .Addbutton {
    margin-top: 30px;
  }
  .Add1button {
    margin-top: 30px;
    
  }
  .cropsdiss{
  margin-left: 120px;

}

  


  
}

