.required {
  content: "*";
  color: red;
}

@media (min-width: 375px) {
  .quantity {
    margin-left: 40px;
  }
  .farmer {
    /* margin-top: 30px; */
    margin-left: 130px;
  
  }
  .cropsdis {
    margin-left: 90px;
  }
  /* .land{

    margin-left: 50px;
 }    */
  .cropsRButton {
    margin-left: 20px;
    background-color: white;
    color: black;
    border: none;
    margin-right: 5px;
  }
  .Add1button {
    margin-top: 30px;
    /* margin-left: 30px; */
  }

  /* .Add2button{
    margin-left: 40px;
} */
.cropsdiss{
  margin-left: 170px;
  font-weight: bold;

}
}

@media (min-width: 992px) {
  .quantity {
    margin-left: 0px;
  }

  .land {
    margin-left: 30px;
  }
  .farmer {
    /* margin-top: 30px; */
    margin-left: 25px;
  }
  .cropsdis {
    margin-left: 28px;
  font-weight: bold;

  }
  
  .Addbutton {
    margin-top: 30px;
  }
  .Add1button {
    margin-top: 30px;
    
  }
  .cropsdiss{
  margin-left: 120px;

}

  .cropsRButton {
    /* margin-left: 22px; */
    background-color: white;
    color: black;
    border: none;
    margin-right: 5px;
    height: 50px;
    width: 100px;
  }
  .form1next {
    margin-right: "50px";
    background: "#273A9E";
    border: none;
  }

  /* .Add2button{
        margin-top: 40px;;
    } */
}


/* image style */
/* element.style {
  width: 177px;
 
  margin-left: -19px;
  display: flex;
  align-content: center;

  left: 0px !;
} */
/* iamge parent div */
/* element.style {
  background: aliceblue;
  border-radius: 100%;
  height: 138px;
  width: 138px;
  margin-bottom: 10px;
  margin-top: 20px;
} */